<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Meldekort for tiltakspenger"/>
    <meta name="author" content="Team tiltakspenger"/>
    <meta name="subject" content="Tiltakspenger"/>
    <style>
        * {
            font-family: "Source Sans Pro", SourceSansPro, Source_Sans_Pro, ArialSystem, sans-serif;
        }

        header {
            text-align: center;
        }

        /*Heading XLarge*/
        h1 {
            font-size: 2.5rem;
            line-height: 3.25rem;
        }

        /*Custom størrelse fordi Aksel verdi for Heading Large skapte wrapping*/
        h2 {
            font-size: 1.75rem;
            line-height: 2.25rem;
        }

        /*Heading Medium*/
        h3 {
            font-size: 1.5rem;
            line-height: 2rem;
        }

        /*Heading Small*/
        h4 {
            font-size: 1.25rem;
            line-height: 1.75rem;
            margin-bottom: 0;
        }

        b {
            font-size: 1.125rem;
            line-height: 1.5rem;
            font-weight: 450;
        }

        .navLogo {
            width: 10rem;
            vertical-align: middle;
            position: relative;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        td {
            padding: 0.5rem;
            border-bottom: 1px solid;
        }

        td:first-child {
            width: 35%;
        }

        td:nth-child(2) {
            width: 65%;
        }

        td.ikkeRegistrert {
            background: #ECEEF0; /*--a-gray-100*/
            border-color: #AAB0BA; /*--a-gray-400*/
        }

        td.deltatt {
            background: #CCF1D6; /*--a-green-100*/
            border-color: #2AA758; /*--a-green-400*/
        }

        td.syk, td.syktBarn {
            background: #FFECCC; /*--a-orange-100*/
            border-color: #FFAA33; /*--a-orange-400*/
        }

        td.annet, td.ikkeDeltatt {
            background: #FFC2C2; /*--a-surface-danger-subtle*/
            border-color: #C30000; /*--a-border-danger*/
        }

        td.statiskDag {
            padding: 0.25rem 0.75rem;
        }

        p img {
            vertical-align: middle;
        }

        p {
            margin-top: 0.5rem;
            font-size: 1rem;
            line-height: 1.5rem;
        }

        div.readMore > p, div.readMore > ul, div.readMore > h4 {
            margin-top: 0;
            font-size: 0.875rem;
            line-height: 1.375rem;
        }

        div.readMore {
            background: #F2F3F5; /*--a-surface-subtle*/
            padding: 1rem;
            margin-left: 1rem;
            margin-right: 1rem;
        }
    </style>

    <title>Meldekort for tiltakspenger</title>
</head>
<body>
<article>
    <header>
        <img alt="Nav logo" class="navLogo" src="{{image "navlogo.png"}}"/>
    </header>
    <h1 class="tittel">Meldekort for tiltakspenger</h1>
    <section>
        {{#with periode}}
            <h2>{{fraOgMed}} - {{tilOgMed}} (uke {{uke1}}-{{uke2}})</h2>
        {{/with}}

        <p>
            <b>Fødselsnummer:</b> {{fnr}}
            <br/>
            <b>Saksnummer:</b> {{saksnummer}}
            <br/>
            <b>Mottatt:</b> {{mottatt}}
            <br/>
            <b>Meldekort-ID:</b> {{id}}
        </p>
    </section>
    <section>
        <p>
            For å motta tiltakspenger må du delta på et tiltak hos Nav og sende meldekort hver 14. dag.
        </p>
        <p>På meldekortet må du registrere om du har deltatt på tiltaket, om du har vært syk, om ditt barn eller barnepasser har vært syk, eller om du har hatt ferie eller annet fravær. Nav trenger dette for å beregne hvor mye du skal ha i
            tiltakspenger.
        </p>
        <p>Vi deler informasjon fra meldekortet med andre systemer i Nav fordi informasjonen har betydning for oppfølgingen du får av Nav.</p>
        <p><b>Takk for at du er ærlig!</b>
            <br/>
            Det er viktig at du gir oss riktige opplysninger.
        </p>
        <p><img alt="Sjekket av ikon" src="{{image "Checkmark.svg"}}"/>Jeg bekrefter at jeg vil fylle ut meldekortet så riktig som jeg kan.</p>
    </section>

    <section>
        <h3>Slik fyller du ut meldekortet</h3>
        <p>
            For hver tiltaksdag i meldeperioden må du oppgi om du har deltatt eller ikke. Du kan ha rett til tiltakspenger ved noen typer fravær. Du skal ikke oppgi noe for dager som er utenfor tiltaket.
        </p>

        <div class="readMore">
            <h4>Når skal du føre at du har deltatt?</h4>
            <ul>
                <li>Du skal krysse av for deltakelse hvis du har deltatt på tiltaket som avtalt.</li>
                <li>Hvis du har vært borte deler av tiltaksdagen, må du registrere dagen med fravær.</li>
                <li>Du kan krysse av for deltakelse hvis dagen er en offentlig fridag og du ikke får deltatt fordi tiltaket er stengt.</li>
                <li>Hvis du har hatt lønn i avtalt tiltakstid den aktuelle dagen, for eksempel lønn fra tiltaksarrangør, har du ikke rett på tiltakspenger og må registrere fravær.</li>
            </ul>
            <p>Hvis du ikke har deltatt på alle dagene i tiltaket som var avtalt, oppgir du at du har hatt fravær nederst på denne siden. Hva som var årsaken til fraværet kan du registrere på det neste skrittet i meldekortet.</p>
        </div>

        <p><b>Ta kontakt med veilederen din hvis du er usikker på hva du skal føre på meldekortet.</b></p>
        <p>
            <b>Legg inn fravær når du skulle vært på tiltak, men ikke fikk deltatt hele eller deler av dagen</b>
            Velg hva slags fravær du hadde. Noen typer fravær gir rett til utbetaling, mens andre gjør det ikke. De dagene du ikke skulle vært på tiltaket trenger du ikke registrere.
        </p>

        <div class="readMore">
            <b>Når skal du føre at du har deltatt?</b>
            <ul>
                <li>Du skal velge «syk» hvis du har vært for syk til å kunne delta på tiltaksdagen. Du kan ha rett til tiltakspenger når du er syk. Det er derfor viktig at du melder om dette.</li>
                <li>Du får utbetalt full stønad de 3 første dagene du er syk. Er du syk mer enn 3 dager, får du utbetalt 75 % av full stønad resten av arbeidsgiverperioden. En arbeidsgiverperiode er på til sammen 16 virkedager.</li>
                <li>Du må ha sykmelding fra lege for å ha rett på tiltakspenger i mer enn 3 dager.</li>
            </ul>
            <b>Når skal du velge “sykt barn eller syk barnepasser”?</b>
            <ul>
                <li>Du skal velge «sykt barn eller syk barnepasser» hvis du ikke kunne delta på tiltaksdagen fordi barnet ditt eller barnets barnepasser var syk.</li>
                <li>Det er de samme reglene som gjelder for sykt barn/barnepasser som ved egen sykdom. Det vil si at du har rett til full utbetaling de tre første dagene og 75 % resten av arbeidsgiverperioden.</li>
                <li>Du må sende legeerklæring for barnet ditt eller bekreftelse fra barnepasseren fra dag 4 for å ha rett på tiltakspenger i mer enn 3 dager.</li>
            </ul>
            <b>Når skal du velge “fravær godkjent av Nav”</b>
            <ul>
                <li>Du kan ha rett til tiltakspenger selv om du har hatt fravær. Det gjelder hvis fraværet skyldes aktiviteter som du har avtalt med Nav-veilederen din.</li>
                <li>
                    Godkjente årsaker til fravær, som fortsatt gir deg tiltakspenger, er for eksempel:
                    <ul>
                        <li>jobbintervju</li>
                        <li>timeavtale i det offentlige hjelpeapparatet</li>
                        <li>alvorlig sykdom/begravelse i nærmeste familie</li>
                    </ul>
                </li>
                <li>Du skal bare velge denne hvis fraværet faktisk er godkjent av Nav-veilederen din. Ta kontakt med Nav-veilederen din hvis du er i tvil.</li>
            </ul>
            <b>Når skal du velge “annet fravær”?</b>
            <ul>
                <li>Du skal velge «annet fravær» hvis du har vært fraværende hele eller deler av den aktuelle tiltaksdagen.</li>
                <li>Du skal velge «annet fravær» hvis du har fått lønn for tiden du deltok i tiltaket den aktuelle dagen.</li>
                <li>Du skal velge «annet fravær» hvis du har hatt fri/ferie utenom planlagt ferieperiode for tiltaket.</li>
                <li>Du skal velge «annet fravær» hvis du venter på godkjenning av fravær. Du kan endre meldekortet senere når fraværet er godkjent av Nav-veilederen din.</li>
            </ul>
        </div>
        <p>
            Kryss av for de dagene du deltok på tiltaket.
            Velg hva slags fravær du hadde.
        </p>
    </section>

    <section>
        <h3>Meldekortdager</h3>
        <table>
            <tbody>
            {{#each dager}}
                <tr>
                    {{#eq status "DELTATT_UTEN_LØNN_I_TILTAKET"}}
                        <td class="statiskDag deltatt">{{dag}}:</td>
                        <td class="statiskDag deltatt"><b>Deltatt</b></td>
                    {{/eq}}
                    {{#eq status "DELTATT_MED_LØNN_I_TILTAKET"}}
                        <td class="statiskDag deltatt">{{dag}}:</td>
                        <td class="statiskDag deltatt"><b>Deltatt med lønn</b></td>
                    {{/eq}}
                    {{#eq status "FRAVÆR_SYK"}}
                        <td class="statiskDag syk">{{dag}}:</td>
                        <td class="statiskDag syk"><b>Syk</b></td>
                    {{/eq}}
                    {{#eq status "FRAVÆR_SYKT_BARN"}}
                        <td class="statiskDag syktBarn">{{dag}}:</td>
                        <td class="statiskDag syktBarn"><b>Sykt barn eller syk barnepasser</b></td>
                    {{/eq}}
                    {{#eq status "FRAVÆR_VELFERD_GODKJENT_AV_NAV"}}
                        <td class="statiskDag annet">{{dag}}:</td>
                        <td class="statiskDag annet"><b>Fravær godkjent av Nav</b></td>
                    {{/eq}}
                    {{#eq status "FRAVÆR_VELFERD_IKKE_GODKJENT_AV_NAV"}}
                        <td class="statiskDag ikkeDeltatt">{{dag}}:</td>
                        <td class="statiskDag ikkeDeltatt"><b>Annet fravær</b></td>
                    {{/eq}}
                    {{#eq status "IKKE_REGISTRERT"}}
                        <td class="statiskDag ikkeRegistrert">{{dag}}:</td>
                        <td class="statiskDag ikkeRegistrert"><b>Ikke registrert</b></td>
                    {{/eq}}
                </tr>
            {{/each}}
            </tbody>
        </table>
        <p><img alt="Sjekket av ikon" src="{{image "Checkmark.svg"}}"/>Jeg bekrefter at disse opplysningene stemmer.</p>
    </section>
</article>
</body>
</html>

