{{#> tpts/partials/innvilgelseBase}}
    <section>
        <h1 class="h1UtenMarginBottom">Du har fått innvilget tiltakspenger. Vedtaket ditt er endret.</h1>
        <p>
            Du får tiltakspenger fra og med {{fraDato}} til og med {{tilDato}} fordi du deltar på arbeidsmarkedstiltak.
            {{#if barnetilleggTekst}}
                <br/>
                {{barnetilleggTekst}}
            {{/if}}
        </p>

        <p>
            Tiltakspengene er {{tiltakspengesats}} kroner per dag du deltar i arbeidsmarkedstiltak.
            {{#if barnetilleggTekst}}
                <br/>
                Barnetillegget er {{barnetilleggsats}} kroner per barn per dag du deltar i arbeidsmarkedstiltak.
            {{/if}}
        </p>

        <p>
            For å få tiltakspenger må du gjennomføre avtalt aktivitet og delta hele den avtalte tiden i tiltaket ditt.
            <br/>
            Du har ikke rett på tiltakspenger de dagene du ikke gjennomfører avtalt aktivitet, eller de dagene du har
            lønnet arbeid som en del av oppfølgingen i tiltaket ditt. Vedtaket er gjort etter arbeidsmarkedsloven § 13
            første ledd og tiltakspengeforskriften §§ 2, 3 og 6.
        </p>

        {{#if saksbehandlerVurdering}}
            <h2>
                Slik har vi vurdert saken din
            </h2>
            <p>
                {{breaklines saksbehandlerVurdering}}
            </p>
        {{/if}}

        <p>
            {{hjemlerTekst}}
        </p>

    </section>
{{/tpts/partials/innvilgelseBase}}