{{#> tpts/partials/base}}
<section>
        <h1>Nav har stanset dine tiltakspenger under {{tiltaksnavn}}</h1>

        <h2>Vedtak</h2>

        <p>
        Tiltakspengene {{#if barnetillegg}}og barnetillegg{{/if}} stanses fra og med {{rammevedtakFraDato}} til og med {{rammevedtakTilDato}} fordi du ikke lenger deltar i {{tiltaksnavn}}.
        </p>
        <p>
            For å ha rett til tiltakspenger må du delta i arbeidsmarkedstiltak som gir rett til tiltakspenger.
        </p>
        <p>
        Vi har fått beskjed om at tiltaket er avsluttet, og at du derfor fra og med {{rammevedtakFraDato}} ikke lenger deltar i tiltaket.
        </p>
        <p>
        Vedtaket er gjort etter Lov om arbeidsmarkedstjenester § 13 første ledd og tiltakspengeforskriften §2.
        </p>
</section>
{{/tpts/partials/base}}