{{#> tpts/partials/innvilgelseBase}}
    <section>
        <h1>Vedtaket ditt om tiltakspenger er endret</h1>

        {{#if harBarnetillegg}}
            <p>
                {{breaklines introTekstMedBarnetillegg}}
            </p>
        {{else}}
            <p>
                Du får tiltakspenger fra og med {{fraDato}} til og med {{tilDato}}.
            </p>
        {{/if}}

        <p>
            {{#each satser}}
                <span>Tiltakspengene for {{år}} er {{currency_no ordinær true}} kroner per dag du deltar i arbeidsmarkedstiltak.</span>
            {{/each}}
        </p>

        <p>
            {{#if harBarnetillegg}}
                {{#each satser}}
                    <span>Barnetillegget for {{år}} er {{currency_no barnetillegg true}} kroner per barn per dag du deltar i arbeidsmarkedstiltak.</span>
                {{/each}}
            {{/if}}
        </p>

        <p>
            For å få tiltakspenger må du gjennomføre avtalt aktivitet og delta hele den avtalte tiden i tiltaket ditt.
        </p>

        <p>
            Du har ikke rett på tiltakspenger de dagene du ikke gjennomfører avtalt aktivitet, eller de dagene du har
            lønnet arbeid som en del av oppfølgingen i tiltaket ditt.
        </p>

        {{#if saksbehandlerVurdering}}
            <h2>
                Vurderingen vår
            </h2>
            <p>
                {{breaklines saksbehandlerVurdering}}
            </p>
        {{/if}}

        <p>
            Vedtaket er gjort etter arbeidsmarkedsloven § 13 første ledd og tiltakspengeforskriften §§ 2,3 og 6.
        </p>

    </section>
{{/tpts/partials/innvilgelseBase}}