{{> tpts/partials/soknadBase }}
    <div class="mainContent">
        <span class="felles tittel">Om deg</span>
        <p class="felles ledetekst">Navn</p>
        <p class="felles verdi">{{person.fornavn}} {{person.etternavn}}</p>

        <p class="felles ledetekst">Fødselsnummer</p>
        <p class="felles verdi">{{person.ident}}</p>

        <span class="felles tittel">Tiltak</span>
        <p class="felles ledetekst">Tiltak</p>
        <p class="felles verdi">{{tiltak.aktivitetId}}</p>

        <p class="felles ledetekst">Fra dato</p>
        <p class="felles verdi">{{tiltak.periode.fra}}</p>

        <p class="felles ledetekst">Til dato</p>
        <p class="felles verdi">{{tiltak.periode.til}}</p>

        <span class="felles tittel">Kvalifiseringsprogram, introduksjonsprogram og institusjonsopphold</span>
        <p class="felles ledetekst">Kvalifiseringsprogrammet</p>
        {{#if kvalifiseringsprogram.deltar}}
            <p class="felles verdi">Ja, jeg deltar i kvalifiseringsprogrammet i perioden {{kvalifiseringsprogram.periode.fra}} - {{kvalifiseringsprogram.periode.til}}</p>
        {{else}}
            <p class="felles verdi">Nei, jeg deltar ikke i kvalifiseringsprogrammet i perioden jeg deltar på tiltaket</p>
        {{/if}}

        <p class="felles ledetekst">Introduksjonsprogrammet</p>
        {{#if introduksjonsprogram.deltar}}
            <p class="felles verdi">Ja, jeg deltar i introduksjonsprogrammet i perioden {{introduksjonsprogram.periode.fra}} - {{introduksjonsprogram.periode.til}}</p>
        {{else}}
            <p class="felles verdi">Nei, jeg deltar ikke i introduksjonsprogrammet i perioden jeg deltar på tiltaket</p>
        {{/if}}

        <p class="felles ledetekst">Opphold på institusjon</p>
        {{#if institusjonsopphold.borPåInstitusjon}}
            <p class="felles verdi">Ja, jeg bor på institusjon med fri kost og losji i perioden {{institusjonsopphold.periode.fra}} - {{institusjonsopphold.periode.til}}</p>
        {{else}}
            <p class="felles verdi">Nei, jeg bor ikke på institusjon med fri kost og losji i perioden jeg går på tiltak</p>
        {{/if}}

        <span class="felles tittel">Andre utbetalinger</span>
        <p class="felles ledetekst">Pensjonsordninger</p>
        {{#if pensjonsordning.mottarEllerSøktPensjonsordning}}
            <p class="felles verdi">Ja, jeg mottar pensjon fra {{pensjonsordning.utbetaler}} i perioden {{pensjonsordning.periode.fra}} - {{pensjonsordning.periode.til}}</p>
        {{else}}
            <p class="felles verdi">Nei, jeg har verken søkt om eller mottar utbetalinger fra en pensjonsordning</p>
        {{/if}}

        <p class="felles ledetekst">Etterlønn</p>
        {{#if etterlønn.mottarEllerSøktEtterlønn}}
            <p class="felles verdi">Ja, jeg mottar etterlønn fra {{etterlønn.utbetaler}} i perioden {{etterlønn.periode.fra}} - {{etterlønn.periode.til}}</p>
        {{else}}
            <p class="felles verdi">Nei, jeg har verken søkt eller mottar etterlønn fra en arbeidsgiver</p>
        {{/if}}

        <span class="felles tittel">Barnetillegg</span>
        <p class="felles ledetekst">Barnetillegg</p>
        {{#if barnetillegg.søkerOmBarnetillegg}}
            <p class="felles verdi">Ja, jeg søker om barnetillegg for følgende barn</p>
        {{else}}
            <p class="felles verdi">Nei, jeg søker ikke om barnetillegg</p>
        {{/if}}

        {{#each barnetillegg.manueltRegistrerteBarnSøktBarnetilleggFor}}
            {{#if this.fornavn}}
                <p class="felles verdi">{{this.fornavn}} {{this.mellomnavn}} {{this.etternavn}} født {{this.fødselsdato}}</p>
            {{else}}
                <p class="felles verdi">Barn født {{this.fødselsdato}}</p>
            {{/if}}
        {{/each}}

        {{#each barnetillegg.registrerteBarnSøktBarnetilleggFor}}
            {{#if this.fornavn}}
                <p class="felles verdi">{{this.fornavn}} {{this.mellomnavn}} {{this.etternavn}} født {{this.fødselsdato}}</p>
            {{else}}
                <p class="felles verdi">Barn født {{this.fødselsdato}}</p>
            {{/if}}
        {{/each}}
    </div>
</body>
</html>
