{{> tpts/partials/soknadTabellBase }}
    <div class="mainContent">
        <table>
            <thead>
                <tr>
                    <td class="tr50">Kvp</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Deltar i Kvp</td>
                    <td>{{#if kvalifiseringsprogram.deltar}} Ja {{else}} Nei {{/if}}</td>
                </tr>
                {{#if kvalifiseringsprogram.periode}}
                    <tr>
                        <td>Fra</td>
                        <td>{{kvalifiseringsprogram.periode.fra}}</td>
                    </tr>
                    <tr>
                        <td>Til</td>
                        <td>{{kvalifiseringsprogram.periode.til}}</td>
                    </tr>
                {{/if}}
            </tbody>

            <thead>
            <tr>
                <td class="tr50">Introprogrammet</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Deltar i Introprogrammet</td>
                    <td>{{#if introduksjonsprogram.deltar}} Ja {{else}} Nei {{/if}}</td>
                </tr>
                {{#if introduksjonsprogram.periode}}
                    <tr>
                        <td>Fra</td>
                        <td>{{introduksjonsprogram.periode.fra}}</td>
                    </tr>
                    <tr>
                        <td>Til</td>
                        <td>{{introduksjonsprogram.periode.til}}</td>
                    </tr>
                {{/if}}
            </tbody>

            <thead>
            <tr>
                <td class="tr50">Institusjon</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Bor på institusjon</td>
                    <td>{{#if institusjonsopphold.borPåInstitusjon}} Ja {{else}} Nei {{/if}}</td>
                </tr>
                {{#if institusjonsopphold.periode}}
                    <tr>
                        <td>Fra</td>
                        <td>{{institusjonsopphold.periode.fra}}</td>
                    </tr>
                    <tr>
                        <td>Til</td>
                        <td>{{institusjonsopphold.periode.til}}</td>
                    </tr>
                {{/if}}
            </tbody>

            <thead>
            <tr>
                <td class="tr50">Tiltak</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tiltak</td>
                    <td>{{tiltak.aktivitetId}}</td>
                </tr>
                {{#if tiltak.periode}}
                    <tr>
                        <td>Fra</td>
                        <td>{{tiltak.periode.fra}}</td>
                    </tr>
                    <tr>
                        <td>Til</td>
                        <td>{{tiltak.periode.til}}</td>
                    </tr>
                {{/if}}
            </tbody>

            <thead>
            <tr>
                <td class="tr50">Pensjon</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Mottar eller har søkt pensjon</td>
                <td>{{#if pensjonsordning.mottarEllerSøktPensjonsordning}} Ja {{else}} Nei {{/if}}</td>
            </tr>
            {{#if pensjonsordning.mottarEllerSøktPensjonsordning}}
                <tr>
                    <td>Utbetaler</td>
                    <td>{{pensjonsordning.utbetaler}}</td>
                </tr>
                <tr>
                    <td>Fra</td>
                    <td>{{pensjonsordning.periode.fra}}</td>
                </tr>
                <tr>
                    <td>Til</td>
                    <td>{{pensjonsordning.periode.til}}</td>
                </tr>
            {{/if}}
            </tbody>

            <thead>
            <tr>
                <td class="tr50">Etterlønn</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Mottar eller har søkt etterlønn</td>
                <td>{{#if etterlønn.mottarEllerSøktEtterlønn}} Ja {{else}} Nei {{/if}}</td>
            </tr>
            {{#if etterlønn.mottarEllerSøktEtterlønn}}
                <tr>
                    <td>Utbetaler</td>
                    <td>{{etterlønn.utbetaler}}</td>
                </tr>
                <tr>
                    <td>Fra</td>
                    <td>{{etterlønn.periode.fra}}</td>
                </tr>
                <tr>
                    <td>Til</td>
                    <td>{{etterlønn.periode.til}}</td>
                </tr>
            {{/if}}
            </tbody>

            <thead>
            <tr>
                <td class="tr50">Barnetillegg</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Søker om barnetillegg</td>
                <td>{{#if barnetillegg.søkerOmBarnetillegg}} Ja {{else}} Nei {{/if}}</td>
            </tr>
            {{#if barnetillegg.manueltRegistrerteBarnSøktBarnetilleggFor}}
                {{#each barnSøktBarnetilleggFor}}
                    <tr>
                        <td>Fornavn</td>
                        <td>{{this.fornavn}}</td>
                    </tr>
                    <tr>
                        <td>Etternavn</td>
                        <td>{{this.etternavn}}</td>
                    </tr>
                    <tr>
                        <td>Fødselsdato</td>
                        <td>{{this.fødselsdato}}</td>
                    </tr>
                    <tr>
                        <td>Bostedsland</td>
                        <td>{{this.bostedsland}}</td>
                    </tr>
                {{/each}}
            {{/if}}
            {{#if barnetillegg.registrerteBarnSøktBarnetilleggFor}}
                {{#each barnSøktBarnetilleggFor}}
                    <tr>
                        <td>Fornavn</td>
                        <td>{{this.fornavn}}</td>
                    </tr>
                    <tr>
                        <td>Etternavn</td>
                        <td>{{this.etternavn}}</td>
                    </tr>
                    <tr>
                        <td>Fødselsdato</td>
                        <td>{{this.fødselsdato}}</td>
                    </tr>
                {{/each}}
            {{/if}}
            </tbody>
        </table>
    </div>
</body>
</html>
