{{> tpts/partials/soknadBase }}
    <div class="mainContent">
     <span class="felles tittel">Søknad om tiltakspenger</span>

     <div class="personalia">
        <div class="person-ikon">
            <svg width="18px" height="18px" viewBox="0 0 24 24" fill="none"
            xmlns="http://www.w3.org/2000/svg" focusable="false" role="img">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 3.75a8.25 8.25 0 0 0-5.144 14.7 5.25 5.25 0 0 1 10.288 0A8.25 8.25 0 0 0 12 3.75Zm3.747 15.602a3.75 3.75 0 0 0-7.494 0A8.215 8.215 0 0 0 12 20.25c1.35 0 2.623-.324 3.747-.898ZM2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12ZM12 7.25a2.25 2.25 0 1 0 0 4.5 2.25 2.25 0 0 0 0-4.5ZM8.25 9.5a3.75 3.75 0 1 1 7.5 0 3.75 3.75 0 0 1-7.5 0Z" fill="currentColor">
            </path></svg>
        </div>
        <div class="person-opplysninger">
            <b>{{person.fornavn}} {{person.etternavn}}</b>
            <p class="felles opplysning">{{person.ident}}</p>
            <p class="felles opplysning">{{person.adresse}}</p>
        </div>
     </div>
     <hr class="separator" />
    <div class="tiltaksperiode">
        <h3>Perioden du søker tiltakspenger for</h3>
        <p>{{iso_to_date tiltak.periode.fra}} - {{iso_to_date tiltak.periode.til}}</p>
    </div>
    <div class="common-section">
        <h3>Kvalifiseringsprogrammet</h3>
        {{#if kvalifiseringsprogram.deltar}}
            <p>Ja, jeg deltar i kvalifiseringsprogrammet i perioden {{iso_to_date kvalifiseringsprogram.periode.fra}} - {{iso_to_date kvalifiseringsprogram.periode.til}}</p>
        {{else}}
            <p>Nei, jeg deltar ikke i kvalifiseringsprogrammet i perioden jeg deltar på tiltaket</p>
        {{/if}}
    </div>
    <div class="common-section">
        <h3>Introduksjonsprogrammet</h3>
        {{#if kvalifiseringsprogram.deltar}}
            <p>Ja, jeg deltar i introduksjonsprogrammet i perioden {{iso_to_date introduksjonsprogram.periode.fra}} - {{iso_to_date introduksjonsprogram.periode.til}}</p>
        {{else}}
            <p>Nei, jeg deltar ikke i introduksjonsprogrammet i perioden jeg deltar på tiltaket</p>
        {{/if}}
    </div>
    <div class="common-section">
        <h3>Institusjonsopphold</h3>
        {{#if institusjonsopphold.borPåInstitusjon}}
            <p>Ja, jeg bor på institusjon med fri kost og losji i perioden {{iso_to_date institusjonsopphold.periode.fra}} - {{iso_to_date institusjonsopphold.periode.til}}</p>
        {{else}}
            <p>Nei, jeg bor ikke på institusjon med fri kost og losji i perioden jeg deltar på tiltaket</p>
        {{/if}}
    </div>
    <div class="common-section">
        <h3>Tiltak</h3>
        <p>Tiltakstype - Testarrangør</p>
        <ul>
            <li>
                <p>Startdato <b>{{iso_to_date tiltak.periode.fra}}</b> - Sluttdato <b>{{iso_to_date tiltak.periode.til}}</b></p>
            </li>
        </ul>
    </div>

        <span class="felles tittel">Om deg</span>
        <p class="felles ledetekst">Navn</p>
        <p class="felles verdi">{{person.fornavn}} {{person.etternavn}}</p>

        <p class="felles ledetekst">Fødselsnummer</p>
        <p class="felles verdi">{{person.ident}}</p>

        <span class="felles tittel">Tiltak</span>
        <p class="felles ledetekst">Tiltak</p>
        <p class="felles verdi">{{tiltak.aktivitetId}}</p>

        <p class="felles ledetekst">Fra dato</p>
        <p class="felles verdi">{{tiltak.periode.fra}}</p>

        <p class="felles ledetekst">Til dato</p>
        <p class="felles verdi">{{tiltak.periode.til}}</p>

        <span class="felles tittel">Kvalifiseringsprogram, introduksjonsprogram og institusjonsopphold</span>
        <p class="felles ledetekst">Kvalifiseringsprogrammet</p>
        {{#if kvalifiseringsprogram.deltar}}
            <p class="felles verdi">Ja, jeg deltar i kvalifiseringsprogrammet i perioden {{kvalifiseringsprogram.periode.fra}} - {{kvalifiseringsprogram.periode.til}}</p>
        {{else}}
            <p class="felles verdi">Nei, jeg deltar ikke i kvalifiseringsprogrammet i perioden jeg deltar på tiltaket</p>
        {{/if}}

        <p class="felles ledetekst">Introduksjonsprogrammet</p>
        {{#if introduksjonsprogram.deltar}}
            <p class="felles verdi">Ja, jeg deltar i introduksjonsprogrammet i perioden {{introduksjonsprogram.periode.fra}} - {{introduksjonsprogram.periode.til}}</p>
        {{else}}
            <p class="felles verdi">Nei, jeg deltar ikke i introduksjonsprogrammet i perioden jeg deltar på tiltaket</p>
        {{/if}}

        <p class="felles ledetekst">Opphold på institusjon</p>
        {{#if institusjonsopphold.borPåInstitusjon}}
            <p class="felles verdi">Ja, jeg bor på institusjon med fri kost og losji i perioden {{institusjonsopphold.periode.fra}} - {{institusjonsopphold.periode.til}}</p>
        {{else}}
            <p class="felles verdi">Nei, jeg bor ikke på institusjon med fri kost og losji i perioden jeg går på tiltak</p>
        {{/if}}

        <span class="felles tittel">Andre utbetalinger</span>
        <p class="felles ledetekst">Pensjonsordninger</p>
        {{#if pensjonsordning.mottarEllerSøktPensjonsordning}}
            <p class="felles verdi">Ja, jeg mottar pensjon fra {{pensjonsordning.utbetaler}} i perioden {{pensjonsordning.periode.fra}} - {{pensjonsordning.periode.til}}</p>
        {{else}}
            <p class="felles verdi">Nei, jeg har verken søkt om eller mottar utbetalinger fra en pensjonsordning</p>
        {{/if}}

        <p class="felles ledetekst">Etterlønn</p>
        {{#if etterlønn.mottarEllerSøktEtterlønn}}
            <p class="felles verdi">Ja, jeg mottar etterlønn fra {{etterlønn.utbetaler}} i perioden {{etterlønn.periode.fra}} - {{etterlønn.periode.til}}</p>
        {{else}}
            <p class="felles verdi">Nei, jeg har verken søkt eller mottar etterlønn fra en arbeidsgiver</p>
        {{/if}}

        <span class="felles tittel">Barnetillegg</span>
        <p class="felles ledetekst">Barnetillegg</p>
        {{#if barnetillegg.søkerOmBarnetillegg}}
            <p class="felles verdi">Ja, jeg søker om barnetillegg for følgende barn</p>
        {{else}}
            <p class="felles verdi">Nei, jeg søker ikke om barnetillegg</p>
        {{/if}}

        {{#each barnetillegg.manueltRegistrerteBarnSøktBarnetilleggFor}}
            {{#if this.fornavn}}
                <p class="felles verdi">{{this.fornavn}} {{this.mellomnavn}} {{this.etternavn}} født {{this.fødselsdato}}</p>
            {{else}}
                <p class="felles verdi">Barn født {{this.fødselsdato}}</p>
            {{/if}}
        {{/each}}

        {{#each barnetillegg.registrerteBarnSøktBarnetilleggFor}}
            {{#if this.fornavn}}
                <p class="felles verdi">{{this.fornavn}} {{this.mellomnavn}} {{this.etternavn}} født {{this.fødselsdato}}</p>
            {{else}}
                <p class="felles verdi">Barn født {{this.fødselsdato}}</p>
            {{/if}}
        {{/each}}
    </div>
</body>
</html>
