{{> tpts/partials/soknadBase }}
    <div class="mainContent">
         <div class="felles header">
            <img src="{{image "Navlogo.png"}}" class="navlogo" />
            <span class="tittel">Søknad om tiltakspenger</span>
         </div>
         <div class="personalia-header">
             <div class="personalia">
                <div class="person-ikon">
                    <svg width="18px" height="18px" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg" focusable="false" role="img">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 3.75a8.25 8.25 0 0 0-5.144 14.7 5.25 5.25 0 0 1 10.288 0A8.25 8.25 0 0 0 12 3.75Zm3.747 15.602a3.75 3.75 0 0 0-7.494 0A8.215 8.215 0 0 0 12 20.25c1.35 0 2.623-.324 3.747-.898ZM2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12ZM12 7.25a2.25 2.25 0 1 0 0 4.5 2.25 2.25 0 0 0 0-4.5ZM8.25 9.5a3.75 3.75 0 1 1 7.5 0 3.75 3.75 0 0 1-7.5 0Z" fill="currentColor">
                    </path></svg>
                </div>
                <div class="person-opplysninger">
                    <p class="opplysning"><b>{{personopplysninger.fornavn}} {{personopplysninger.etternavn}}</b></p>
                    <p class="opplysning"><b>{{personopplysninger.ident}}</b></p>
                </div>
             </div>
             <div class="sendt-til-nav">
                <p class="opplysning"><b>Sendt til NAV</b></p>
                <p class="opplysning">{{iso_to_nor_datetime innsendingTidspunkt}}</p>
             </div>
         </div>
         <hr class="separator" />
         <div class="spørsmålsbesvarelser">
        <div class="tiltaksperiode">
            <h3>Perioden du søker tiltakspenger for</h3>
            <p class="svar">{{iso_to_long_date spørsmålsbesvarelser.tiltak.periode.fra}} - {{iso_to_long_date spørsmålsbesvarelser.tiltak.periode.til}}</p>
        </div>
        <div class="common-section">
            <h3>Kvalifiseringsstønad</h3>
            <div class="svar">
                {{#if spørsmålsbesvarelser.kvalifiseringsprogram.deltar}}
                    <p>Ja, jeg mottar kvalifiseringsstønad i perioden {{iso_to_long_date spørsmålsbesvarelser.kvalifiseringsprogram.periode.fra}} - {{iso_to_long_date spørsmålsbesvarelser.kvalifiseringsprogram.periode.til}}</p>
                {{else}}
                    <p>Nei, jeg mottar ikke kvalifiseringsstønad i perioden jeg deltar på tiltaket</p>
                {{/if}}
            </div>
        </div>
        <div class="common-section">
            <h3>Introduksjonsstønad</h3>
            <div class="svar">
                {{#if spørsmålsbesvarelser.introduksjonsprogram.deltar}}
                    <p>Ja, jeg mottar introduksjonsstønad i perioden {{iso_to_long_date spørsmålsbesvarelser.introduksjonsprogram.periode.fra}} - {{iso_to_long_date spørsmålsbesvarelser.introduksjonsprogram.periode.til}}</p>
                {{else}}
                    <p>Nei, jeg mottar ikke introduksjonsstønad i perioden jeg deltar på tiltaket</p>
                {{/if}}
            </div>
        </div>
        <div class="common-section">
            <h3>Institusjonsopphold</h3>
            <div class="svar">
                {{#if spørsmålsbesvarelser.institusjonsopphold.borPåInstitusjon}}
                <p>Ja, jeg bor på institusjon med fri kost og losji i perioden {{iso_to_long_date spørsmålsbesvarelser.institusjonsopphold.periode.fra}} - {{iso_to_long_date spørsmålsbesvarelser.institusjonsopphold.periode.til}}</p>
                {{else}}
                <p>Nei, jeg bor ikke på institusjon med fri kost og losji i perioden jeg deltar på tiltaket</p>
                {{/if}}
            </div>
        </div>
        <div class="common-section">
            <h3>Tiltak</h3>
            <div class="svar">
                {{#if spørsmålsbesvarelser.tiltak.arrangør}}
                    <p>{{spørsmålsbesvarelser.tiltak.typeNavn}} - {{spørsmålsbesvarelser.tiltak.arrangør}}</p>
                {{else}}
                    <p>{{spørsmålsbesvarelser.tiltak.typeNavn}}</p>
                {{/if}}
                <ul>
                    <li>
                        <p>Startdato <b>{{iso_to_long_date spørsmålsbesvarelser.tiltak.periode.fra}}</b> - Sluttdato <b>{{iso_to_long_date spørsmålsbesvarelser.tiltak.periode.til}}</b></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="common-section">
            <h3>Etterlønn</h3>
            <div class="svar">
                {{#if spørsmålsbesvarelser.etterlønn.mottar}}
                    <p>Ja, jeg mottar etterlønn i perioden jeg deltar på tiltaket</p>
                {{else}}
                    <p>Nei, jeg mottar ikke etterlønn i perioden jeg deltar på tiltaket</p>
                {{/if}}
            </div>
        </div>
        <div class="common-section">
            <h3>Sykepenger</h3>
            <div class="svar">
                {{#if spørsmålsbesvarelser.sykepenger.mottar}}
                    <p>Ja, jeg mottar sykepenger i perioden {{iso_to_long_date spørsmålsbesvarelser.sykepenger.periode.fra}} - {{iso_to_long_date spørsmålsbesvarelser.sykepenger.periode.til}}</p>
                {{else}}
                    <p>Nei, jeg mottar ikke sykepenger i perioden jeg deltar på tiltaket</p>
                {{/if}}
            </div>
        </div>
        <div class="common-section">
            <h3>Annen pengestøtte</h3>
            <div class="svar">
                {{#if spørsmålsbesvarelser.mottarAndreUtbetalinger}}
                    <p>Ja, jeg mottar annen pengestøtte i perioden jeg går på tiltaket</p>
                {{else}}
                    <p>Nei, jeg mottar ikke annen pengestøtte i perioden jeg deltar på tiltaket</p>
                {{/if}}
            </div>
        </div>
        <div class="common-section">
            <h3>Gjenlevendepensjon</h3>
            <div class="svar">
                {{#if spørsmålsbesvarelser.gjenlevendepensjon.mottar}}
                    <p>Ja, jeg mottar gjenlevendepensjon i perioden {{iso_to_long_date spørsmålsbesvarelser.gjenlevendepensjon.periode.fra}} - {{iso_to_long_date spørsmålsbesvarelser.gjenlevendepensjon.periode.til}}</p>
                {{else}}
                    <p>Nei, jeg mottar ikke gjenlevendepensjon i perioden jeg deltar på tiltaket</p>
                {{/if}}
            </div>
        </div>
        <div class="common-section">
            <h3>Alderspensjon</h3>
            <div class="svar">
                {{#if spørsmålsbesvarelser.alderspensjon.mottar}}
                    <p>Ja, jeg mottar alderspensjon fra {{iso_to_long_date spørsmålsbesvarelser.alderspensjon.fraDato}}</p>
                {{else}}
                    <p>Nei, jeg mottar ikke alderspensjon i perioden jeg deltar på tiltaket</p>
                {{/if}}
            </div>
        </div>
        <div class="common-section">
            <h3>Supplerende stønad for personer over 67 år</h3>
            <div class="svar">
                {{#if spørsmålsbesvarelser.supplerendestønadover67.mottar}}
                    <p>Ja, jeg mottar supplerende stønad for personer over 67 år i perioden {{iso_to_long_date spørsmålsbesvarelser.supplerendestønadover67.periode.fra}} - {{iso_to_long_date spørsmålsbesvarelser.supplerendestønadover67.periode.til}}</p>
                {{else}}
                    <p>Nei, jeg mottar ikke supplerende stønad for personer over 67 år i perioden jeg deltar på tiltaket</p>
                {{/if}}
            </div>
        </div>
        <div class="common-section">
            <h3>Supplerende stønad for uføre flyktninger</h3>
            <div class="svar">
                {{#if spørsmålsbesvarelser.supplerendestønadflyktninger.mottar}}
                    <p>Ja, jeg mottar supplerende stønad for uføre flyktninger i perioden {{iso_to_long_date spørsmålsbesvarelser.supplerendestønadflyktninger.periode.fra}} - {{iso_to_long_date spørsmålsbesvarelser.supplerendestønadflyktninger.periode.til}}</p>
                {{else}}
                    <p>Nei, jeg mottar ikke supplerende stønad for uføre flyktninger i perioden jeg deltar på tiltaket</p>
                {{/if}}
            </div>
        </div>
        <div class="common-section">
            <h3>Pengestøtte fra andre trygde- eller pensjonsordninger</h3>
            <div class="svar">
                {{#if spørsmålsbesvarelser.pensjonsordning.mottar}}
                    <p>Ja, jeg mottar pengestøtte fra andre trygde- eller pensjonsordninger i perioden {{iso_to_long_date spørsmålsbesvarelser.pensjonsordning.periode.fra}} - {{iso_to_long_date spørsmålsbesvarelser.pensjonsordning.periode.til}}</p>
                {{else}}
                    <p>Nei, jeg mottar  ikke pengestøtte fra andre trygde- eller pensjonsordninger i perioden jeg deltar på tiltaket</p>
                {{/if}}
            </div>
        </div>
        <div class="common-section">
            <h3>Jobbsjansen</h3>
            <div class="svar">
                {{#if spørsmålsbesvarelser.jobbsjansen.mottar}}
                    <p>Ja, jeg mottar stønad gjennom Jobbsjansen i perioden {{iso_to_long_date spørsmålsbesvarelser.jobbsjansen.periode.fra}} - {{iso_to_long_date spørsmålsbesvarelser.jobbsjansen.periode.til}}</p>
                {{else}}
                    <p>Nei, jeg mottar ikke stønad gjennom Jobbsjansen i perioden jeg deltar på tiltaket</p>
                {{/if}}
            </div>
        </div>
        <div class="common-section">
            <h3>Barnetillegg</h3>
            <div class="svar">
                {{#unless spørsmålsbesvarelser.barnetillegg.registrerteBarnSøktBarnetilleggFor.length}}
                    {{#unless spørsmålsbesvarelser.barnetillegg.manueltRegistrerteBarnSøktBarnetilleggFor.length}}
                        <p>Jeg søker ikke om barnetillegg</p>
                    {{/unless}}
                {{/unless}}
                {{#each spørsmålsbesvarelser.barnetillegg.manueltRegistrerteBarnSøktBarnetilleggFor}}
                    <p>
                        <b>{{this.fornavn}} {{this.mellomnavn}} {{this.etternavn}}</b> født {{iso_to_long_date this.fødselsdato}}
                        <ul>
                            <li>
                                {{#if this.oppholdInnenforEøs}}
                                    <p>Ja, barnet oppholder seg i Norge eller et annet EØS-land i tiltaksperioden</p>
                                {{else}}
                                    <p>Nei, barnet oppholder seg ikke i Norge eller et annet EØS-land i tiltaksperioden</p>
                                {{/if}}
                            </li>
                        </ul>
                    </p>
                {{/each}}
                {{#each spørsmålsbesvarelser.barnetillegg.registrerteBarnSøktBarnetilleggFor}}
                    {{#if this.fornavn}}
                        <p>
                            <b>{{this.fornavn}} {{this.mellomnavn}} {{this.etternavn}}</b> født {{iso_to_long_date this.fødselsdato}}
                            <ul>
                                <li>
                                    {{#if this.oppholdInnenforEøs}}
                                        <p>Ja, barnet oppholder seg i Norge eller et annet EØS-land i tiltaksperioden</p>
                                    {{else}}
                                        <p>Nei, barnet oppholder seg ikke i Norge eller et annet EØS-land i tiltaksperioden</p>
                                    {{/if}}
                                </li>
                            </ul>
                        </p>
                    {{else}}
                         <p>
                            <b>Barn født {{iso_to_long_date this.fødselsdato}}</b>
                            <ul>
                                <li>
                                    {{#if this.oppholdInnenforEøs}}
                                        <p>Ja, barnet oppholder seg i Norge eller et annet EØS-land i tiltaksperioden</p>
                                    {{else}}
                                        <p>Nei, barnet oppholder seg ikke i Norge eller et annet EØS-land i tiltaksperioden</p>
                                    {{/if}}
                                </li>
                            </ul>
                        </p>
                    {{/if}}
                {{/each}}
            </div>
        </div>
        <div class="common-section">
            <h3>Bekreftelse</h3>
            <div class="svar">
                {{#if spørsmålsbesvarelser.harBekreftetÅSvareSåGodtManKan}}
                    <p>Jeg vil svare så godt jeg kan på spørsmålene i søknaden.</p>
                {{/if}}
                {{#if spørsmålsbesvarelser.harBekreftetAlleOpplysninger}}
                    <p>Jeg har lest all informasjonen jeg har fått i søknaden og bekrefter at opplysningene jeg har gitt er korrekte.</p>
                {{/if}}
            </div>
        </div>
        {{#if vedleggsnavn.length}}
            <div class="common-section">
                <h3>Dine opplastede vedlegg</h3>
                {{#each vedleggsnavn}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}
        </div>
    </div>
</body>
</html>
