{{> tpts/partials/soknadBase }}
    <div class="mainContent">
         <div class="felles header">
            <img src="{{image "Navlogo.png"}}" class="navlogo" />
            <span class="tittel">Søknad om tiltakspenger</span>
         </div>
         <div class="personalia-header">
             <div class="personalia">
                <div class="person-ikon">
                    <svg width="18px" height="18px" viewBox="0 0 24 24" fill="none"
                    xmlns="http://www.w3.org/2000/svg" focusable="false" role="img">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 3.75a8.25 8.25 0 0 0-5.144 14.7 5.25 5.25 0 0 1 10.288 0A8.25 8.25 0 0 0 12 3.75Zm3.747 15.602a3.75 3.75 0 0 0-7.494 0A8.215 8.215 0 0 0 12 20.25c1.35 0 2.623-.324 3.747-.898ZM2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12ZM12 7.25a2.25 2.25 0 1 0 0 4.5 2.25 2.25 0 0 0 0-4.5ZM8.25 9.5a3.75 3.75 0 1 1 7.5 0 3.75 3.75 0 0 1-7.5 0Z" fill="currentColor">
                    </path></svg>
                </div>
                <div class="person-opplysninger">
                    <p class="opplysning"><b>{{personopplysninger.fornavn}} {{personopplysninger.etternavn}}</b></p>
                    <p class="opplysning"><b>{{personopplysninger.ident}}</b></p>
                </div>
             </div>
             <div class="sendt-til-nav">
                <p class="opplysning"><b>Sendt til NAV</b></p>
                <p class="opplysning">{{iso_to_nor_datetime innsendingTidspunkt}}</p>
             </div>
         </div>
         <hr class="separator" />
         <div class="spørsmålsbesvarelser">
        <div class="tiltaksperiode">
            <h3>Perioden du søker tiltakspenger for</h3>
            <p class="svar">{{iso_to_long_date tiltak.periode.fra}} - {{iso_to_long_date tiltak.periode.til}}</p>
        </div>
        <div class="common-section">
            <h3>Kvalifiseringsprogrammet</h3>
            <div class="svar">
            {{#if kvalifiseringsprogram.deltar}}
                <p>Ja, jeg deltar i kvalifiseringsprogrammet i perioden {{iso_to_date kvalifiseringsprogram.periode.fra}} - {{iso_to_date kvalifiseringsprogram.periode.til}}</p>
            {{else}}
                <p>Nei, jeg deltar ikke i kvalifiseringsprogrammet i perioden jeg deltar på tiltaket</p>
            {{/if}}
            </div>
        </div>
        <div class="common-section">
            <h3>Introduksjonsprogrammet</h3>
            <div class="svar">
                {{#if introduksjonsprogram.deltar}}
                    <p>Ja, jeg deltar i introduksjonsprogrammet i perioden {{iso_to_date introduksjonsprogram.periode.fra}} - {{iso_to_date introduksjonsprogram.periode.til}}</p>
                {{else}}
                    <p>Nei, jeg deltar ikke i introduksjonsprogrammet i perioden jeg deltar på tiltaket</p>
                {{/if}}
            </div>
        </div>
        <div class="common-section">
            <h3>Institusjonsopphold</h3>
            <div class="svar">
                {{#if institusjonsopphold.borPåInstitusjon}}
                <p>Ja, jeg bor på institusjon med fri kost og losji i perioden {{iso_to_date institusjonsopphold.periode.fra}} - {{iso_to_date institusjonsopphold.periode.til}}</p>
                {{else}}
                <p>Nei, jeg bor ikke på institusjon med fri kost og losji i perioden jeg deltar på tiltaket</p>
                {{/if}}
            </div>
        </div>
        <div class="common-section">
            <h3>Tiltak</h3>
            <div class="svar">
                <p>{{tiltak.typeNavn}} - {{tiltak.arrangør}}</p>
                <ul>
                    {{#if tiltak.arenaRegistrertPeriode}}
                    <li>
                        <p>Startdato <b>{{iso_to_date tiltak.arenaRegistrertPeriode.fra}}</b> - Sluttdato <b>{{iso_to_date tiltak.arenaRegistrertPeriode.til}}</b></p>
                    </li>
                    {{else}}
                    <li>
                        <p>Startdato <b>{{iso_to_date tiltak.periode.fra}}</b> - Sluttdato <b>{{iso_to_date tiltak.periode.til}}</b></p>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </div>
         <div class="common-section">
            <h3>Pensjonsordninger</h3>
            <div class="svar">
                {{#if pensjonsordning.mottarEllerSøktPensjonsordning}}
                    <p>Ja, jeg har nylig søkt om eller mottar utbetalinger fra en pensjonsordning</p>
                {{else}}
                    <p>Nei, jeg mottar ingen utbetalinger fra en pensjonsordning</p>
                {{/if}}
            </div>
        </div>
        <div class="common-section">
            <h3>Etterlønn</h3>
            <div class="svar">
            {{#if etterlønn.mottarEllerSøktEtterlønn}}
                <p>Ja, jeg har nylig søkt om eller mottar etterlønn</p>
            {{else}}
                <p>Nei, jeg mottar ingen etterlønn</p>
            {{/if}}
            </div>
        </div>
        <div class="common-section">
            <h3>Barnetillegg</h3>
            <div class="svar">
                {{#if barnetillegg.søkerOmBarnetillegg}}
                    <p>Ja, jeg søker om barnetillegg for følgende barn</p>
                {{else}}
                    <p>Nei, jeg søker ikke om barnetillegg</p>
                {{/if}}

                <ul>
                    {{#each barnetillegg.manueltRegistrerteBarnSøktBarnetilleggFor}}
                        {{#if this.fornavn}}
                            <li><b>{{this.fornavn}} {{this.mellomnavn}} {{this.etternavn}}</b> født {{iso_to_date this.fødselsdato}}</li>
                        {{else}}
                            <li>Barn født {{iso_to_date this.fødselsdato}}</li>
                        {{/if}}
                    {{/each}}
                </ul>

                <ul>
                    {{#each barnetillegg.registrerteBarnSøktBarnetilleggFor}}
                        {{#if this.fornavn}}
                            <li><b>{{this.fornavn}} {{this.mellomnavn}} {{this.etternavn}}</b> født {{iso_to_date this.fødselsdato}}</li>
                        {{else}}
                            <li>Barn født {{iso_to_date this.fødselsdato}}</li>
                        {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="common-section">
            <h3>Har du bekreftet at opplysningene du har gitt er riktige</h3>
            <div class="svar">
            {{#if harBekreftetAlleOpplysninger}}
                <p>JA</p>
            {{else}}
                <p>NEI</p>
            {{/if}}
            </div>
        </div>
            {{#if vedleggsnavn.length}}
            <div class="common-section">
                <h3>Dine opplastede vedlegg</h3>
                {{#each vedleggsnavn}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
            {{/if}}
        </div>
    </div>
</body>
</html>
