<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Utbetalingsvedtak"/>
    <meta name="author" content="Team tiltakspenger"/>
    <meta name="subject" content="Tiltakspenger"/>
    {{> tpts/partials/style }}
    <title>Utbetalingsvedtak</title>
</head>
<body>
{{#with meldekortPeriode}}
    <h1 class="tittel">Utbetalingsvedtak for {{fom}} - {{tom}}</h1>
{{/with}}
<h2>Informasjon fra meldekortet</h2>
<ul class="informasjon">
    <li><b>Fødselsnummer:</b> {{fødselsnummer}}</li>
    <li><b>Saksnummer:</b> {{saksnummer}}</li>
    <li><b>Iverksatt:</b> {{iverksattTidspunkt}}</li>
    <li><b>MeldekortId:</b> {{meldekortId}}</li>
    {{#with saksbehandler}}
        <li><b>Saksbehandler:</b> {{navn}}</li>
    {{/with}}
    {{#with beslutter}}
        <li><b>Beslutter:</b> {{navn}}</li>
    {{/with}}
</ul>
<h2>Tiltak</h2>
{{#each tiltak}}
    <ul class="informasjon">
        <li><b>Tiltaksnavn:</b> {{tiltakstypenavn}}</li>
        <li><b>Tiltakstype:</b> {{tiltakstype}}</li>
        <li><b>DeltagelseId:</b> {{eksternDeltagelseId}}</li>
        <li><b>GjennomføringId:</b> {{eksternGjennomføringId}}</li>
    </ul>
{{/each}}

<h2>Meldekortdager</h2>
<table>
    <thead>
    <tr>
        <th>Dato</th>
        <th>Status</th>
        {{#if barnetillegg}}
            <th>Ordinært beløp</th>
            <th>Barnetillegg</th>
        {{else}}
            <th>Beløp</th>
        {{/if}}
        <th>Prosent</th>
        <th>Reduksjon</th>
    </tr>
    </thead>
    <tbody>
    {{#each meldekortDager}}
        <tr>
            <td>{{dato}}</td>
            <td>{{status}}</td>
            <td>{{beløp}}</td>
            {{#if barnetillegg}}
                <td>{{beløpBarnetillegg}}</td>
            {{/if}}
            <td>{{prosent}}</td>
            <td>{{reduksjon}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
</body>
</html>