{{#> tpts/partials/innvilgelseBase}}
    <div>
        <p>Du får tiltakspenger fordi du deltar på {{tiltaksinfo.tiltak}} hos {{tiltaksinfo.arrangør}}</p>
        <p>Du får tiltakspenger{{#if barnetillegg}} og barnetillegg{{/if}} fra og med den {{fraDato}} til og med den {{tilDato}}</p>

        <ul>
            <li>Tiltakspengene er {{sats}} kroner per dag du deltra i arbeidsmarkedstiltaket</li>
            {{#if barnetillegg}}
                <li>Barnetillegget er {{satsBarn}} kroner per barn per dag du deltar i arbeidsmarkedstiltaket</li>
            {{/if}}
        </ul>
    </div>
{{/tpts/partials/innvilgelseBase}}