{{#> tpts/partials/innvilgelseBase}}
    <section>
        <h1>Du har fått innvilget tiltakspenger</h1>

        <h2>Vedtak</h2>
        {{#eq innvilgelsesperioder.perioder.length 1}}
            <p>
                Du får tiltakspenger fra og med {{innvilgelsesperioder.perioder.[0].fraOgMed}} til og med {{innvilgelsesperioder.perioder.[0].tilOgMed}}{{#if innvilgelsesperioder.antallDagerTekst}} for {{innvilgelsesperioder.antallDagerTekst}} per uke{{/if}} fordi du deltar på arbeidsmarkedstiltak.
            </p>
        {{/eq}}
        {{#gt innvilgelsesperioder.perioder.length 1}}
            <p>Du får tiltakspenger{{#if innvilgelsesperioder.antallDagerTekst}} for {{innvilgelsesperioder.antallDagerTekst}} per uke{{/if}} i disse periodene:</p>
            <ul>
                {{#each innvilgelsesperioder.perioder}}
                    <li>Fra og med {{fraOgMed}} til og med {{tilOgMed}}.</li>
                {{/each}}
            </ul>
        {{/gt}}

        {{#eq barnetillegg.length 1}}
            <p>
                Du får barnetillegg fra og med {{barnetillegg.[0].periode.fraOgMed}} til og med {{barnetillegg.[0].periode.fraOgMed}} for {{barnetillegg.[0].antallBarnTekst}} barn.
            </p>
        {{/eq}}
        {{#gt barnetillegg.length 1}}
            <p>Du får barnetillegg i disse periodene:</p>
            <ul>
                {{#each barnetillegg}}
                    <li>Fra og med {{periode.fraOgMed}} til og med {{periode.tilOgMed}} for {{antallBarnTekst}} barn.</li>
                {{/each}}
            </ul>
        {{/gt}}

        <p>
            {{#each satser}}
                <span>Tiltakspengene for {{år}} er {{currency_no ordinær true}} kroner per dag.</span>
            {{/each}}
        </p>

        {{#if harBarnetillegg}}
            <p>
                {{#each satser}}
                    <span>Barnetillegget for {{år}} er {{currency_no barnetillegg true}} kroner per barn, per dag.</span>
                {{/each}}
            </p>
        {{/if}}

        <p>For å få tiltakspenger må du gjennomføre avtalt aktivitet og delta hele den avtalte tiden i tiltaket
            ditt.</p>

        <p>Du har ikke rett på tiltakspenger de dagene du ikke gjennomfører avtalt aktivitet, eller de dagene du har
            lønnet arbeid som en del av oppfølgingen i tiltaket ditt.</p>

        {{#if tilleggstekst}}
            <h2>Slik har vi vurdert saken din</h2>
            <!--        Om man ønsker linebreaks mellom tilleggstekstene (fordi bruker kan ha limt inn flere) må de skilles med '\n\n'-->
            <p>{{breaklines tilleggstekst}}</p>
        {{/if}}
        <p>
            Vedtaket er gjort etter arbeidsmarkedsloven § 13 første ledd og tiltakspengeforskriften §§ 2, 3 og 6.
        </p>
    </section>
{{/tpts/partials/innvilgelseBase}}
