{{#eq type "multi"}}
    <ul class="avslagsgrunnerUl">
{{/eq}}
{{#each avslagsgrunner}}
    {{#eq this "DELTAR_IKKE_PÅ_ARBEIDSMARKEDSTILTAK"}}
        {{#eq type "single"}}
                <p>
                    Du får ikke tiltakspenger {{#if harSøktMedBarn}}
                    og barnetillegg {{/if}} fra og med {{avslagFraOgMed}} til og med {{avslagTilOgMed}} fordi du
                    ikke deltar på arbeidsmarkedstiltak som gir rett til tiltakspenger.
                </p>
            {{#if harSøktMedBarn}}
                    <p>
                        For å få tiltakspenger og barnetillegg må du delta i arbeidsmarkedstiltak som gir rett
                        til tiltakspenger og barnetillegg.
                    </p>
            {{else}}
                    <p>
                        For å få tiltakspenger må du delta i arbeidsmarkedstiltak som gir rett til
                        tiltakspenger.
                    </p>
            {{/if}}
        {{/eq}}
        {{#eq type "multi"}}
                <li>
                    <p>
                        Du ikke deltar på arbeidsmarkedstiltak som gir rett til tiltakspenger.
                    </p>
                    <p>
                        For å få tiltakspenger {{#if harSøktMedBarn}}
                        og barnetillegg {{/if}} må du delta i arbeidsmarkedstiltak som gir rett til tiltakspenger.
                    </p>
                </li>
        {{/eq}}
    {{/eq}}
    {{#eq this "ALDER"}}
        {{#eq type "single"}}
                <p>
                    Du får ikke tiltakspenger {{#if harSøktMedBarn}}
                    og barnetillegg {{/if}} fra og med {{avslagFraOgMed}} fordi du ikke har fylt 18 år. Du må ha
                    fylt 18 år for å ha rett til å få tiltakspenger.
                </p>
        {{/eq}}
        {{#eq type "multi"}}
                <li>
                    <p>
                        Du ikke har fylt 18 år. Du må ha fylt 18 år for å ha rett til å få tiltakspenger.
                    </p>
                </li>
        {{/eq}}
    {{/eq}}
    {{#eq this "LIVSOPPHOLDYTELSE"}}
        {{#eq type "single"}}
                <p>
                    Du får ikke tiltakspenger {{#if harSøktMedBarn}} og barnetillegg {{/if}} fra og med
                    {{avslagFraOgMed}} fordi du mottar en annen pengestøtte til livsopphold. Deltakere som har
                    rett til andre pengestøtter til livsopphold har ikke samtidig rett til å
                    få tiltakspenger{{#if harSøktMedBarn}} og barnetillegg {{else}}.{{/if}}
                </p>
        {{/eq}}
        {{#eq type "multi"}}
                <li>
                    <p>
                        Du mottar en annen pengestøtte til livsopphold.
                    </p>
                    <p>
                        Deltakere som har rett til andre pengestøtter til livsopphold, har ikke samtidig rett til å få
                        tiltakspenger.
                    </p>
                </li>
        {{/eq}}
    {{/eq}}
    {{#eq this "KVALIFISERINGSPROGRAMMET"}}
        {{#eq type "single"}}
                <p>
                    Du får ikke tiltakspenger {{#if harSøktMedBarn}} og barnetillegg {{/if}} fra og med
                    {{avslagFraOgMed}} fordi du deltar på kvalifiseringsprogram. Deltakere i
                    kvalifiseringsprogram, har ikke rett
                    til tiltakspenger{{#if harSøktMedBarn}}og barnetillegg {{else}}.{{/if}}
                </p>
        {{/eq}}
        {{#eq type "multi"}}
                <li>
                    <p>
                        Du deltar på kvalifiseringsprogram.
                    </p>
                    <p>
                        Deltakere i kvalifiseringsprogram, har ikke rett til
                        tiltakspenger{{#if harSøktMedBarn}}og barnetillegg {{else}}.{{/if}}
                    </p>
                </li>
        {{/eq}}
    {{/eq}}
    {{#eq this "INTRODUKSJONSPROGRAMMET"}}
        {{#eq type "single"}}
                <p>
                    Du får ikke tiltakspenger {{#if harSøktMedBarn}}
                    og barnetillegg {{/if}} fra og med {{avslagFraOgMed}} fordi du deltar på
                    introduksjonsprogram. Deltakere i introduksjonsprogram, har ikke rett til
                    tiltakspenger{{#if harSøktMedBarn}} og barnetillegg {{else}}.{{/if}}
                </p>
        {{/eq}}
        {{#eq type "multi"}}
                <li>
                    <p>
                        Du deltar på introduksjonsprogram.
                    </p>
                    <p>
                        Deltakere i introduksjonsprogram, har ikke rett til tiltakspenger{{#if harSøktMedBarn}}
                        og barnetillegg {{else}}.{{/if}}
                    </p>
                </li>
        {{/eq}}
    {{/eq}}
    {{#eq this "LØNN_FRA_TILTAKSARRANGØR"}}
        {{#eq type "single"}}
                <p>
                    Du får ikke tiltakspenger {{#if harSøktMedBarn}} og barnetillegg {{/if}} fra og med
                    {{avslagFraOgMed}} fordi du mottar lønn fra tiltaksarrangør for tiden i
                    arbeidsmarkedstiltaket.
                </p>
                <p>
                    Deltakere som mottar lønn fra tiltaksarrangør for tid i arbeidsmarkedstiltaket, har ikke
                    rett til tiltakspenger{{#if harSøktMedBarn}} og barnetillegg {{else}}.{{/if}}
                </p>
        {{/eq}}
        {{#eq type "multi"}}
                <li>
                    <p>
                        Du mottar lønn fra tiltaksarrangør for tiden i arbeidsmarkedstiltaket.
                    </p>
                    <p>
                        Deltakere som mottar lønn fra tiltaksarrangør for tid i arbeidsmarkedstiltaket, har ikke
                        rett til tiltakspenger{{#if harSøktMedBarn}} og barnetillegg {{else}}.{{/if}}
                    </p>
                </li>
        {{/eq}}
    {{/eq}}
    {{#eq this "LØNN_FRA_ANDRE"}}
        {{#eq type "single"}}
                <p>
                    Du får ikke tiltakspenger {{#if harSøktMedBarn}} og barnetillegg {{/if}} fra og med
                    {{avslagFraOgMed}} fordi du mottar lønn for arbeid som er en del av tiltaksdeltakelsen og du
                    derfor har dekning av utgifter til livsopphold.
                </p>
                <p>
                    Deltaker i arbeidsmarkedstiltak som har rett til å få dekket utgifter til livsopphold på
                    annen måte har ikke rett til
                    tiltakspenger{{#if harSøktMedBarn}} og barnetillegg {{else}}.{{/if}}.
                    Lønn anses som dekning av utgifter til livsopphold på annen måte, når du får lønnen for
                    arbeid som er en del av tiltaksdeltakelsen.
                </p>
                <p>
                    Lønn fra arbeid utenom tiltaksdeltakelsen har ikke betydning for din rett til tiltakspenger.
                </p>
        {{/eq}}
        {{#eq type "multi"}}
                <li>
                    <p>
                        Du mottar lønn for arbeid som er en del av tiltaksdeltakelsen og du
                        derfor har dekning av utgifter til livsopphold.
                    </p>
                    <p>
                        Deltaker i arbeidsmarkedstiltak som har rett til å få dekket utgifter til livsopphold på
                        annen måte har ikke rett til
                        tiltakspenger{{#if harSøktMedBarn}} og barnetillegg {{else}}.{{/if}}.
                        Lønn anses som dekning av utgifter til livsopphold på annen måte, når du får lønnen for
                        arbeid som er en del av tiltaksdeltakelsen.
                    </p>
                    <p>
                        Lønn fra arbeid utenom tiltaksdeltakelsen har ikke betydning for din rett til tiltakspenger.
                    </p>
                </li>
        {{/eq}}
    {{/eq}}
    {{#eq this "INSTITUSJONSOPPHOLD"}}
        {{#eq type "single"}}
                <p>
                    Du får ikke tiltakspenger {{#if harSøktMedBarn}} og barnetillegg {{/if}} fra og med
                    {{avslagFraOgMed}} fordi du oppholder deg på en institusjon med gratis opphold, mat og
                    drikke.
                </p>
                <p>
                    Deltakere som har opphold i institusjon, med gratis opphold, mat og drikke.
                    Under gjennomføringen av arbeidsmarkedstiltaket, har ikke rett
                    til tiltakspenger{{#if harSøktMedBarn}} og barnetillegg {{else}}.{{/if}}.
                </p>
        {{/eq}}
        {{#eq type "multi"}}
                <li>
                    <p>
                        Du oppholder deg på en institusjon med gratis opphold, mat og drikke.
                    </p>
                    <p>
                        Deltakere som har opphold i institusjon, med gratis opphold, mat og drikke.
                        Under gjennomføringen av arbeidsmarkedstiltaket, har ikke rett
                        til tiltakspenger{{#if harSøktMedBarn}} og barnetillegg {{else}}.{{/if}}.
                    </p>
                </li>
        {{/eq}}
    {{/eq}}
    {{#eq this "FREMMET_FOR_SENT"}}
        {{#eq type "single"}}
                <p>
                    Du får ikke tiltakspenger {{#if harSøktMedBarn}} og barnetillegg {{/if}} fra og med
                    {{avslagFraOgMed}} fordi du har søkt om tiltakspenger{{#if harSøktMedBarn}} og
                    barnetillegg{{/if}} for sent.
                </p>
                <p>
                    Tiltakspenger gis for opptil tre måneder før den måneden tiltaksdeltakeren søkte om
                    tiltakspenger{{#if harSøktMedBarn}} og barnetillegg {{else}}.{{/if}}.
                </p>
        {{/eq}}
        {{#eq type "multi"}}
                <li>
                    <p>
                        Du har søkt om tiltakspenger{{#if harSøktMedBarn}} og barnetillegg{{/if}} for sent.
                    </p>
                    <p>
                        Tiltakspenger gis for opptil tre måneder før den måneden tiltaksdeltakeren søkte om
                        tiltakspenger{{#if harSøktMedBarn}} og barnetillegg {{else}}.{{/if}}.
                    </p>
                </li>
        {{/eq}}
    {{/eq}}
{{/each}}
{{#eq type "multi"}}
    </ul>
{{/eq}}