<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8"/>
        {{> tpts/partials/vedtakStyle}}
    <title>Vedtaksbrev for Tiltakspenger</title>
</head>

<body>
    <div class="main">
        {{#with personalia}}
            <div class="header">
                <img alt="Nav sin logo" class="navLogo" src="{{image "Navlogo.png"}}" />

                <div class="personalia">
                    <p>Navn: {{fornavn}} {{etternavn}}</p>
                    <p>Fødselsnummer: {{ident}}</p>
                    <p>Saksnummer: {{saksnummer}}</p>
                    <p class="right-align">{{datoForUtsending}}</p>
                </div>
            </div>
        {{/with}}
        {{> @partial-block}}
        <div class="signatur">
            <p>
                Med vennlig hilsen
            </p>
            <div>
                <p class="venstrestill">Beslutter: {{beslutterNavn}}</p>
                <p class="right-align">Saksbehandler: {{saksbehandlerNavn}}</p>
            </div>
            <p>{{kontor}}</p>

        </div>
    </div>
</body>
</html>
