<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8"/>
    <style>
        * {
            font-family: "Source Sans Pro", SourceSansPro, Source_Sans_Pro, ArialSystem, sans-serif;
        }

        @page {
            @bottom-right {
                font-family: "Source Sans Pro", SourceSansPro, Source_Sans_Pro, ArialSystem, sans-serif;
                font-size: 12px;
                content: "Side "counter(page) " av "counter(pages);
            }
        }

        .header {
            margin-bottom: 40px;
        }

        .navLogo {
            height: 75px;
            margin-bottom: 128px;
        }

        .personalia {
            clear: both;
            padding-bottom: 16px;
        }

        .personalia p {
            margin: 0;
        }

        .mainContent {
            margin-bottom: 40px;
        }

        .pagebreak {
            page-break-before: always;
        }
        .info {
            margin-bottom: 1rem;
        }

        .info p {
            margin-top: 0;
        }

        h3 {
            margin-bottom: 4px;
        }

        .hilsen {
            margin-top: 64px;
        }

        .hilsen p {
            padding: 0;
            margin: 0;
        }

        .keyValueOppsummering__heading {
            margin-bottom: 0;
        }

        .keyValueOppsummering {
            border-collapse: collapse;
            width: 100%;
            clear: both;
        }
        .keyValueOppsummering__title {
            margin-bottom: 0;
        }
        .keyValueOppsummering__value {
            text-align: right;
        }

        .keyValueOppsummering__keyInfo {
            list-style: none;
            margin: 0;
            padding-left: 16px;
            font-size: 0.8em;
        }

        .fritekst {
            white-space: pre-wrap;
            margin-bottom: 1rem;
            word-wrap: break-word;
        }

        .preline{
            white-space: pre-line;
        }

        .tabell {
            width: 100%;
            border-collapse: collapse;
            table-layout: fixed;
        }
        .tabell-auto {
            width: 100%;
            border-collapse: collapse;
            table-layout: auto;
        }
        .tabellcol {
            border: 1px solid black;
            padding-left: 0.2em;
            padding-right: 0.2em;
        }
    </style>
    <title>Supplerende stønad</title>
</head>

<body>
    <div class="main">
        {{#with personalia}}
        <div class="header">
            <img class="navLogo" src="{{image "Navlogo.png"}}" />

            <div class="personalia">
                <p>{{fornavn}} {{etternavn}}</p>
                <p>Dato: {{dato}}</p>
                <p>Saksnummer: {{saksnummer}}</p>
            </div>
        </div>
        {{/with}}
        {{> @partial-block}}

    </div>
</body>

</html>
