<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Vedtaksbrev for Tiltakspenger"/>
    <meta name="author" content="Team tiltakspenger"/>
    <meta name="subject" content="Tiltakspenger"/>
    {{> tpts/partials/vedtakStyle}}
    <title>Vedtaksbrev for Tiltakspenger</title>
</head>
<body>
<article>
    <img alt="Nav logo" class="navLogo" src="{{image "navlogo.png"}}"/>
    {{#with personalia}}
        <header>
            <div class="personalia">
                <p>Navn: </p>
                <p>Fødselsnummer: </p>
                <p>Saksnummer: </p>
            </div>
            <div class="personalia inline">
                <p>{{fornavn}} {{etternavn}}</p>
                <p>{{ident}}</p>
                <p>{{saksnummer}}</p>
            </div>
            <p class="dato">{{datoForUtsending}}</p>
        </header>
    {{/with}}

    {{> @partial-block}}

    {{> tpts/partials/klagerett}}
    <section>
        <h2>Du har rett til innsyn</h2>
        <p>
            Du har rett til å se dokumentene i saken din. Dette følger av forvaltningsloven § 18.
            Du kan kontakte saksbehandler på nav.no eller på telefon om du vil se dokumentene i saken din.
            Du kan lese mer om innsynsretten på nav.no/personvernerklaering.
        </p>

        <h2>Du har rettigheter knyttet til personopplysningene dine</h2>
        <p>Du finner informasjon om hvordan Nav behandler personopplysningene dine, og hvilke rettigheter du har, på nav.no/personvernerklaering#hvordan.
        </p>

        <h2>Du har rett til å få veiledning fra Nav</h2>
        <p>Vi har plikt til å veilede deg om dine rettigheter og plikter i saken din, både før, under og etter saksbehandlingen. Dette følger av forvaltningsloven § 11.</p>
    </section>
    {{> tpts/partials/sporsmal}}
    <section class="hilsen">
        <p>Med hilsen</p>
        <p>{{kontor}}</p>
        <div class="signatur">
            <div class="beslutter">
                {{#if beslutterNavn}}
                    <p>{{beslutterNavn}}</p>
                {{else}}
                    <p>-</p>
                {{/if}}
            </div>
            <div>
                <p>{{saksbehandlerNavn}}</p>
            </div>
        </div>
    </section>
</article>
</body>
</html>
